/* left: -20%;
*
*
*
*
*
* */

/* Font variables */

:root {
  --heading-size: 0.875rem;
  --font-weight: 400;
  --times-roman: 'Times New Roman', Times, Serif;
  --arial: Arial, Helvetica, sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.main-hero {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: ease all .5s;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.green-square {
  position: absolute;
  top: 25%;
  left: -10%;
  width: 43vh;
  height: 43vh;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: #67BB8A;
  transition: ease all .5s;
}

.orange-square {
  position: absolute;
  top: 25%;
  right: -10%;
  width: 43vh;
  height: 43vh;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: #FFC704;
  transition: ease all .5s;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: ease all .5s;
}


nav {
  width: 100%;
  font-size: var(--heading-size);
}

#header {
  margin-top: 2rem;
  transition: ease all .5s;
}

#header > ul > li > div {
  display:  flex;
  flex-direction: column;
  gap: 0.3rem;
}

#header > ul > li > div > small {
  opacity: 0.5;
}

#footer {
  padding-bottom: 2rem;
  transition: ease all .5s;

}

#footer > ul {
  align-items: flex-end;
}

.hero > div {
  text-align: center;
}

.hero > div > h1 {
    font-family: var(--times-roman);
    font-size: 6.875rem;
    font-weight: 400;
    line-height: 8.25rem;
}

.hero > div > h2 {
    font-family: var(--times-roman);
    font-size: 3.125rem;
    font-style: italic;
    font-weight: 400;
    color: rgba(88, 165, 120, 1);
    line-height: 3.75rem;
}

.hero > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--arial);
  transition: ease all .5s;
}

.hero > nav > ul > li > small {
  font-family: var(--arial);
  font-size:  0.625rem;
  opacity: 0.5;
  line-height: 1rem;
}

.hero > nav > ul > li > span {
  font-family: var(--arial);
  opacity: 0.5;
  font-size: 0.875rem;
  padding-top: 0.5rem;
}

.hero > nav > ul > li > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero > nav > ul > li > div > span {
  opacity: 0.5;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 30, 38, 1);
  color: white;
}

.content {
  overflow-y: hidden;
  max-width: 71vw;
  /*max-height: 71vh;*/
  margin: 20px auto; 
}

.content > hr {
  opacity: 0.2;
}

.content-header {
  margin: 3.25rem 0;
  display: flex;
  gap: 169px;
  font-size: 12px;
  opacity: 0.5;
  font-family: var(--arial);
  font-weight: 400;
}

.content-header h6 {
  font-size: 0.875rem;
}

.content-header:nth-child(1) h6:nth-child(1){
  width: 8.5%;
}

.content-item {
  margin: 3.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 169px;
}


.content-item h4 {
  /*width: 121px; */
  width: 163px;
  font-size: 14px;
  color: #04FC6B;
  font-family: var(--arial);
  font-weight: 400;
}


/*
.content-item h6:nth-child(1) {
  width: 121px;
  width: 19%;
  font-size: 12px;
  opacity: 0.5;
  font-family: var(--arial);
  font-weight: 400;
}

.content-item h6:nth-child(2) {
  width: 121px;
  width: 75%;
  font-size: 12px;
  opacity: 0.5;
  font-family: var(--arial);
  font-weight: 400;
}
*/
.content-item > div > p > span {
  padding: 0 2rem;
}

.content-item > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-item > div > h1 {
  font-family: var(--times-roman);
  font-weight: 400;
  font-style: bold;
}

.content-item > div > p {
  opacity: 0.5;
  font-family: var(--arial);
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 150%;
}

.content-item > div > small {
  font-family: var(--arial);
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .green-square {
    position: absolute;
    top: 90%;
    width: 9.375rem;
    height: 9.375rem;
  }

  .orange-square {
    position: absolute;
    top: 10%;
    width: 150px;
    height: 150px;
  }
  
  .hero > nav > ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  
  #footer > ul {
    align-items: flex-end;
  }

  #footer > ul > li {
    text-align: right;
  }
  
  .hero > div > h1 {
    font-size: 3.75rem;
  }
 
  .hero > div > h2 {
    display: none;
  } 

}