/* left: -20%;
*
*
*
*
*
* */

/* Font variables */

:root {
  --heading-size: 0.875rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hero-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.green-square {
  left: -10%;
  width: 43vh;
  height: 43vh;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: #67BB8A;
  margin-left: -9.375rem;
}

.orange-square {
  right: -10%;
  width: 43vh;
  height: 43vh;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: #FFC704;
  margin-right: -9.375rem;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


nav {
  width: 100%;
  font-size: var(--heading-size);
}

#header {
  margin-top: 2rem;
}

#footer {
  padding-bottom: 2rem;
}


.hero > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

















